:root{
    --header__bg-color:#303841;
    --main__bg-color:#ebebeb;
    --footer__bg-color:#333333;
    --primary-color: #8DA9C0;
    --secondary-color: #2e5f88;
    --text-color:black;



}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
/*                                       HEADER                                     */
header{
    background-color: var(--header__bg-color);
    display: flex;

}

.header__logo-icon{
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
    margin: 10px;

}
.header__logo-title{
    font-size: 2.5rem;
    color: white;
    font-family: serif;
    margin: 0.5rem;
    padding: 2.5rem;

}

.header__nav{
   margin-top: 1rem;
   list-style: none;
   font-size: 2rem;
}
.header__nav-item{
    padding: 1rem;
    display: inline-block;
    align-content: center;

   
}
.header__nav-item:hover{
    background-color: rgba(255, 255, 255, 0.137);
}
.header__nav-item a{
    text-decoration: none;
    color: white;
}

/*                                      MAIN                                  */
main{
    display: flexbox;
    background-color: var(--main__bg-color);
}
.main__banner{
    background-color: black;
    font-size: 5vw;
    align-content: center;
    text-align: center;

}
.main__banner h1{
    color: var(--primary-color);
   
}
.main__banner p{
    color: var(--secondary-color);
}
.main__banner img{
    width: 100vw;
}

.main__content article{
    background-color: var(--primary-color);
    font-size: 1.6rem;
    text-align: center;
    padding:5vw;
    margin: 5vw;
}

.main__content-equipo figure{
    display: inline-flex;
}
.main__content-equipo figure img{
    width: 15vw;
    border-radius: 8vw;
}

/*                                      FOOTER                                      */
footer{
    background-color: var(--footer__bg-color);
    color: whitesmoke;
    font-size: 1.6rem;
    padding:1rem;
}