
/* CONFIGURACIONES INICIALES*/
:root{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*SELECTOR UNIVERSAL*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*RESPONSIVE*/
header{
    width: 100%;
    height: 150px;
    border: 5px solid darkgray ;
}
main{
    width: 100%;
    height: 1000px;
    border: 5px solid darkslateblue;
}
footer{
    width: 100%;
    height: 100px;
    border: 5px solid darkslategray;
}

/*HACIENDO LA BARRA DE NAVEGACIÓN DEL HEADER*/

.header-nav {
    margin-top: 10px;

    list-style: none;
    padding-left: 0px;
    background-color: cadetblue;
    font-size: 24px;
}
.header-nav__item {
    display: inline-block;
}
.header-nav__item a{
    color: white;
    padding: 5px;
    text-decoration: none;
    background-color: teal;
}
.header-nav__item a:hover {
    color:thistle;
}
.header-nav__item a:active{
    color:turquoise;
}

/*ESTILO DEL CUERPO DE LA PÁGINA*/
.main-about{
    text-align: center;
}